# API app
app_port=8000 # API app port number. Remove this entry in production
fastapi_url= # API app web url. Fill only in production.

# Dash app
dash_app_port=8050 # Dash app port number. Remove this entry in production
dash_url= # Dash app web url.  Fill only in production.

# Jupyter app
jupyter_port=5000 # Jupyter notebook port number. Remove this entry in production

# By default, if using ecodev-infra, network is named "app-network"
app_network=app-network
